* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box ;
  }
  
  body {
    background: linear-gradient(120deg, #ffd1dc, #ffd1dc, #efd1dc, #99CCFF);
    color: #000000;
    padding: 5px;
    font-family: sans-serif;
    margin: 0 50px;
  }

  a {
    text-align: center;
    margin: 20px auto;
    color: #000;
  }
  
  a:hover {
    text-decoration: none;
  }

  a:active {
    color:#f1f8ff;
  }

  p {
    margin: 20px auto;
    font-family: 'Lucida Bright', serif;
    text-align: center;
  }

  #page-title {
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 75px;
    padding: 50px;
  }
  
  #banner {
    background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
  }

  #instag:hover{
    background: #99CCFF;
     color: #99CCFF;
   -webkit-background-clip: #99CCFF;
   background-clip: #99CCFF;
   -webkit-text-fill-color: #99CCFF;
  }

  #instag:active {
    background: #ff99f5;
     color: #ff99f3;
   -webkit-background-clip: #ff99f3;
   background-clip: #ff99f3;
   -webkit-text-fill-color: #ff99f3;
  }
    
  #banner.content h1 {
    position: relative;
    top: 50px;
    height: auto;
    width: 400px;
    margin: 0 auto;
    border: 3px solid #ffd1dc;
    text-align: center;
    color: #ffd1dc;
    text-shadow: 1px 0 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000;
  }
  
  #instag {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 50px; /* change this to change the size*/
    margin: 5px
    }
 
  #youtube {
    color: red;
    font-size: 50px;
    margin: 5px;
  }

  #youtube:active {
    background: #ff99f5;
    color: #ff99f3;
    -webkit-background-clip: #ff99f3;
    background-clip: #ff99f3;
    -webkit-text-fill-color: #ff99f3;
    }
  
  #tiktok {
    font-size: 40px;
    margin: 5px;
  }

  /* Add a black background color to the top navigation */
  .topnav {
    display: block;
    background-color: black;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    letter-spacing: 0.2em;
    font-weight: 500;
    margin: 0 0;
      }
  
  /* Style the links inside the navigation bar */
  .topnav .menu {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid #000
  }

  .topnav .menu:active {
    background: #ff99f5;
    color: #ff99f3;
    -webkit-background-clip: #ff99f3;
    background-clip: #ff99f3;
   -webkit-text-fill-color: #ff99f3;
  }

  .topnav .social {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ffd1dc !important;
    color: #99CCFF !important;
    text-shadow: 0.5px 0 0 #6191f9, 0 -1px 0 #6191f9, 0 1px 0 #6191f9, -1px 0 0 #6191f9;
    border-radius: 10px;
   }

  .links {
    position: relative;
    text-align: center;
    color: #ffd1dc;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000000, -1px 0 0 #000000;
    font-family: sans-serif;
    
  }
  
  .linksh:hover {
    color: #779ecb;
    text-decoration: none;
  }
  
  .linksh:active {
    color:#f1f8ff;
  }
  
  .profile-pic {
    background-image: url("https://yt3.ggpht.com/ytc/AKedOLQLCKstzP0kzRaZwoJyr1Xv3Hpt-XfaagTadYbk=s176-c-k-c0x00ffffff-no-rj");
    background-size: 150px;
    background-position: center;
    height: 150px;
    margin: 5px auto;
  }
  
  .italics {
    font-style: italic;
  }

  .sbar {
    margin-top: 18px;
  }

  .button {
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 5px;
  }

  .button:hover {
    cursor: pointer;
    color: #779ecb;
  }
   
  .button:active {
    margin-top: 5px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px;
    background: #f1f8ff;
  }